<div class="column gap-1">

    <!-- Add Product button  -->
    <button type="button" pButton icon="pi pi-plus" (click)="toggleAddPopup()" label="Add Product" class="add-product-btn"></button>


    <!-- Products -->
    <div class="row wrap gap-2 space-between">
        <!-- 
            Providing information for our component(for each product) we want to turn it to input
            
            For each item in the array, it creates an instance of the app-product component.
            [product]="product": This is a property binding that passes the current product from the ngFor loop to the app-product component.
            Inside app-product, you can access this product data via an @Input() property named product.

            (productOutput)="onProductOutput":
            This is an event binding that listens for an event named productOutput emitted by the app-product component.
            When this event occurs, it triggers the onProductOutput method defined in the parent component (home.component.ts).
         -->
        <app-product *ngFor="let product of products"
        [product]="product"
        (edit)="toggleEditPopup($event)"
        (delete)="toggleDeletePopup($event)"
        ></app-product>
    </div>

    <!-- Paginator -->
    <p-paginator 
    [rows]="rows" 
    [totalRecords]="totalRecords" 
    [rowsPerPageOptions]="[5, 10, 20]" 
    (onPageChange)="onPageChange($event)"
    #paginator
    ></p-paginator>

    <!-- Edit Product  -->
    <app-edit-popup
    [product]="selectedProduct"
    [(display)]="displayEditPopup"
    (confirm)="onConfirmEdit($event)"
    header="Edit Product"
    ></app-edit-popup>

    <!-- Add Product  -->
    <app-edit-popup
    [(display)]="displayAddPopup"
    (confirm)="onConfirmAdd($event)"
    header="Add Product"
    ></app-edit-popup>

</div>

